<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Enter Trainer's information</h1>
    <form method="post" action="addTrainer">
        Name: <input type="text" name="txtName" id="">
        <br><br>
        Age:
        <input type="text" name="txtAge">
        <input type="submit" value="Add Trainer">
    </form>
</body>
</html>