<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Page</title>
</head>

<body>
    <center>
        <h1> Welcome to Staff page </h1>
        <ul>
            <li><a href="/staff/addTrainer">Add Trainer</a></li>
            <li><a href="/staff/addTrainee">Add Trainee</a></li>
            <li><a href="/staff/addCourse">Add Course</a></li>
        </ul>
        <table border="1">
            <tr>
                <th>Course's Name</th>
                <th>Description</th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{courseName}}</td>
                <td>{{des}}</td>
            </tr>
            {{/each}}
        </table>
    </center>
</body>

</html>