<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Page</title>
</head>

<body>
    <center>
        <div class="menu">
            <ul>
                <li><a href="/trainer">Home</a></li>
                <li><a href="/trainer/course">Course</a></li>
                <li><a href="/trainer/about"></a>About</li>
                <li><a href="/trainer/contact"></a>Contact</li>
                <li><a href="/trainer/trainerprofile">Profile</a></li>
            </ul>
        </div>
        <div>
            {{!-- {{#each userInfor}} --}}
            <h1> Hello {{User.role}} - {{User.userName}} </h1>
            <p>Welcome to FPT companny!!! <br><br> Have a good day!!!</p>
            {{!-- {{/each}} --}}
        </div>
            
    </center>
</body>

</html>