<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainee's information</title>
</head>

<body>
    <center>
        <h1>Trainee's infomation</h1>
        <table border="1">
            <tr>
                <th>Trainee's Name</th>
                <th>Age</th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{traineeName}}</td>
                <td>{{ages}}</td>
            </tr>
            {{/each}}
        </table>
    </center>
</body>

</html>