<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Page</title>
</head>

<body>
    <center>
        <h1> Welcome to Trainer page </h1>
        <table border="1">
            <tr>
                <th>Trainer Name</th>
                <th>Role</th>
                <th>Password</th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{trainerName}}</td>
                <td>{{role}}</td>
                <td>{{password}} </td>
            </tr>
            {{/each}}
        </table>
    </center>
</body>

</html>