ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a, .menubar {
    display: inline-block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    margin-left: 60px;
    font-size: 25px;
    font-family: monospace;
    text-transform:uppercase;
}

li a:hover {
    background-color: cyan;
}

.account_image {
    background-color: cornsilk;
    margin-left: 900px;
}

.content-table-profile, th {
    padding: 14px;
    margin: 0px;
    text-align: center;
}

.content-table-profile, td {
    padding: 14px;
    margin: 0px;
    text-align: center;
}

.about {
    margin: 30px 80px 0 80px;
}

/* .formsearch {
    padding-right: 1280px;

} */

h1 {
    color:darkgreen;
}